<!DOCTYPE html>
<html ng-app="listaTelefonica">
<head>
    <meta charset="utf-8">
    <title>Lista Telefonica</title>

    <link rel="stylesheet" type="text/css" href="lib/bootstrap/bootstrap.min.css">
    <style>
        .jumbotron {
            width: 600px;
            text-align:center;
            margin-left: auto;
            margin-right: auto;
            margin-top: 20px;
            padding: 20px;
        }

        .table {
            margin-top:20px;
        }

        .form-control {
            margin-bottom: 5px;
        }

        .selecionado {
            background-color: yellow;   
        }

        .negrito {
            font-weight: bold;
        }
    </style>

    <script src="lib/angular/angular.min.js"></script>
    <script src="lib/angular/angular-messages.min.js"></script>
    <script src="lib/angular/angular-locale_pt-br.js"></script>
    <script>    
        angular.module("listaTelefonica", ["ngMessages"]);

        /*
            Invocação de $http para usar ajax
         */
        angular.module("listaTelefonica").controller("listaTelefonicaCtrl", function($scope, $http) {

            $scope.app = "Lista Telefonica";
            
            $scope.contatos = [];

            $scope.operadoras = [];

            /*
                Não precisa usar $scope. porque não vai ser usado na view
             */
            var carregarContatos = function() {
                $http.get("http://localhost:8000/api/contatos").then(function (response) {
                    $scope.contatos = response.data;
                });
            };

            var carregarOperadoras = function() {
                $http.get("http://localhost:8000/api/operadoras").then(function (response) {
                    $scope.operadoras = response.data;
                });
            };

            $scope.adicionarContato = function(contato) {
                $http.post("http://localhost:8000/api/contatos", contato).then(function (response) {
                    delete $scope.contato;
                    $scope.contatoForm.$setPristine();
                    carregarContatos();
                }).catch(function (data, status) {
                    $scope.message = "Aconteceu um problema.";
                });
            };

            $scope.apagarContatos = function(contatos) {
                $scope.contatos = contatos.filter(function (contato) {
                    //Se selecionado for false ele fica
                    if(!contato.selecionado)
                        return contato;
                });
            };

            $scope.isContatosSelecionados = function(contatos) {
                return contatos.some(function (contato) {
                    return contato.selecionado;
                });
            };

            $scope.ordenarPor = function(campo) {
                $scope.criterioDeOrdenacao = campo;
                $scope.direcaoDaOrdenacao = !$scope.direcaoDaOrdenacao;
            }

            carregarContatos();
            carregarOperadoras();
        });
    </script>
</head>
<body ng-controller="listaTelefonicaCtrl">
    <div class='jumbotron'>
        <h3>{{app}}</h3>

        <input type='text' placeholder="O que você está buscando?" class="form-control" ng-model="criterioDeBusca">
    
        {{message}}

        <table class='table' ng-show="contatos.length > 0">
            <tr>
                <th></th>
                <th><a href='' ng-click="ordenarPor('nome')">Nome</a></th>
                <th><a href='' ng-click="ordenarPor('telefone')">Telefone</a></th>
                <th>Operadora</th>
                <th><a href='' ng-click="ordenarPor('data')">Data</a></th>
                <th><a href='' ng-click="ordenarPor('cor')">Cor</a></th>
            </tr>

            <tr ng-class="{'selecionado negrito': contato.selecionado}" ng-repeat="contato in contatos | filter:{nome: criterioDeBusca} | orderBy:criterioDeOrdenacao:direcaoDaOrdenacao">
                <td>
                    <input type='checkbox' ng-model="contato.selecionado">
                </td>
                <td>{{contato.nome}}</td>
                <td>{{contato.telefone}}</td>
                <td>{{contato.operadora.nome | lowercase}}</td>
                <td>{{contato.data | date:'dd/MM/yyyy HH:mm'}}</td>
                <td>
                    <div 
                        style="width:20px; height: 20px;" 
                        ng-style="{'background-color': contato.cor}"
                    >
                    </div>
                </td>
            </tr>
        </table>

        <hr>

        <form name="contatoForm">
            <input type='text' name="nome" class='form-control' placeholder="Nome" ng-model="contato.nome" ng-required="true" ng-minlength="10" />
            
            <input type='text' name="telefone" class='form-control' placeholder="Telefone" ng-model="contato.telefone" ng-required="true" ng-pattern="/^\d{4,5}-\d{4}$/"/>

            <select class='form-control' ng-model="contato.operator_id" ng-options="operadora.id as operadora.nome + ' (' + (operadora.preco | currency ) + ' por minuto)' for operadora in operadoras | orderBy:'nome'">
                <option value="">Selecione uma operadora</option>
            </select>
        </form>

        <div ng-messages="contatoForm.nome.$error" class='alert alert-danger' >
            <div ng-message=".required">
                Por favor preencha o nome.
            </div>

            <div ng-message="minlength">
                O campo nome deve ter no mínimo 10 caracteres.
            </div>
        </div>

        <div ng-messages="contatoForm.telefone.$error" class='alert alert-danger' >
            <div ng-message="required">
                Por favor preencha o telefone.
            </div>

            <div ng-message="pattern">
                O campo deve ter o formato XXXX-XXXX ou XXXXX-XXXX
            </div>
        </div>

        <button 
            class='btn btn-primary btn-block' 
            ng-click="adicionarContato(contato)" 
            ng-disabled="contatoForm.$invalid"
            >
            Adicionar Contato
        </button>

        <button 
            class='btn btn-danger btn-block' 
            ng-click="apagarContatos(contatos)" 
            ng-if="isContatosSelecionados(contatos)"
            >
            Apagar Contatos
        </button>
    </div>

    <div ng-include="'footer.html'"></div>
</body>
</html>